<form method='POST'>

    <!-- This page is here to edit the chosen clothe. -->

    <div style="width:800px; margin:0 auto; margin-top: 15px;margin-bottom: 10px;">Enter the name of the clothe that you want to edit :</div>
    {% csrf_token %}

    <!-- The user can put here the name of the clothe he wants to edit, this is how Django can understand which object he has to edit. -->

    <br>
    <div style="width:800px; margin:0 auto; margin-top: 15px;margin-bottom: 10px;"> {{ form.as_p}} </div>
    <br>

    <!-- I put here the exact same html code as the "addclothes" page, because I ask again the user to put some information to add to the database. -->

    <div style="width:800px; margin:0 auto; margin-top: 15px;margin-bottom: 10px;">Enter the new information of this clothe :</div>
    <br>
    <div class="form-group" style="width:800px; margin:0 auto; margin-top: 15px;margin-bottom: 10px;">
        <label for="name">Name  :</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter the chosen name">
    </div>

    <br>

    <div class="form-group" style="width:800px; margin:0 auto; margin-top: 15px;margin-bottom: 10px;">
        <label for="brand">Brand :</label>
        <input type="text" class="form-control" id="brand" name="brand" placeholder="Enter the clothe's brand">
    </div>

    <br>

    <div class="form-group" style="width:800px; margin:0 auto; margin-top: 15px;margin-bottom: 10px;">
        <label for="color">Color :</label>
        <input type="text" class="form-control" id="color" name="color" placeholder="Enter the clothe's color">
    </div>

    <br>

    <div class="form-group" style="width:800px; margin:0 auto; margin-top: 15px;margin-bottom: 10px;">
        <label for="category">Matter :</label>
        <input type="text" class="form-control" id="matter" name="material" placeholder="Enter the clothe's material">
    </div>

    <br>

    <div class="form-group" style="width:800px; margin:0 auto; margin-top: 15px;margin-bottom: 30px;"> 
        <label for="size">Size   :</label>
        <input type="text" class="form-control" id="size" name="size" placeholder="Enter the clothe's size">
        <br>
    <button type="submit" class="btn btn-primary" style="width:80px; margin-left: 90px; margin-top: 40px;margin-bottom: 10px;">Submit</button>
    
</form>
<br>
<br>
<br>

<!-- I forgot to say it but the href="../{{userid}} means that I want to the user be redirected to the last page he visited, so the index page, and the userid is of course the id of the user, that I put in the views. -->

<a href="../{{userid}}" class="btn btn-primary" style=" margin-left: 35px; margin-top: 15px;margin-bottom: 10px;">Go back to the main page</a>
