<!--  This page is the index page, where the user can go to all the existing pages, and so chosing what action he wants to do.-->

<div style="width:800px; margin:0 auto; margin-top: 15px;margin-bottom: 10px;"> Click on this button to create a new clothe. <button><a class= "btn btn-primary" href="{{userid}}/addclothes" >Register new clothes here</a></button></div>
<br>

<!-- This first button is here to create a new clothe -->

<br>
<div style="width:800px; margin:0 auto; margin-top: 15px;margin-bottom: 10px;"> Click on this button to remove clothes. <button><a class= "btn btn-primary" href="{{userid}}/remove_clothes">Remove clothes here</a></button></div>
<br>

<!-- This second button is here to remove a clothe -->

<br>
<div style="width:800px; margin:0 auto; margin-top: 15px;margin-bottom: 10px;"> Click on this button to edit your clothes. <button><a class= "btn btn-primary" href="{{userid}}/edit_clothes">Edit clothes here</a></button></div>
<br>

<!-- This third button is here to edit the user clothes -->

<br>
<div style="width:800px; margin:0 auto; margin-top: 15px;margin-bottom: 10px;"> Click on this button to see the list of your clothes. <button><a class= "btn btn-primary" href="{{userid}}/clothes_list">See the list of clothes here</a></button></div>

<!-- This last button is here to see the list of clothes -->