<!-- This page is here to remove clothes, by getting again the name of the chosen clothe, with the form, as I've done in the edit clothes page. {{ form.as_p}} is here to ask the name of the chosen object the user wants to remove.-->

<form method='POST'>
    <div style="width:800px; margin:0 auto; margin-top: 15px;margin-bottom: 10px;">You can remove clothes here :</div>
    {% csrf_token %}
    <div style="width:800px; margin:0 auto; margin-top: 15px;margin-bottom: 10px;">Choose the clothes you want to remove by entering its name:</div>
    <div style="width:800px; margin:0 auto; margin-top: 15px;margin-bottom: 10px;"> {{ form.as_p}} </div>
    <br>
    <button type="submit" class="btn btn-primary" style="margin-left : 400px">Submit</button>
</form>
<br>
<a href="../{{userid}}" class="btn btn-primary" style="margin-left : 340px">Go back to the main page</a>
